/* Built with love by: mateums4 (https://www.github.com/mateusm4) */

:root{
    --round: 10px;
    --round-sm: 5px;
    --box-padding: 32px;
    --box-padding-sm: 24px;
    --button-padding-x: 12px;
    --button-padding-y: 8px;
    --shadow: 0 4px 6px -1px rgb(0 0 0 / 0.15), 0 2px 4px -2px rgb(0 0 0 / 0.15);
    --border: 1px solid#aaa;

    --main-box-padding: 8px;

    --content-box-background: #c156ff;
    --primary: #9300e9;
    --primary-hover: #8200de;
    --blue: #0052e9;
    --blue-hover: #0044e1;
    --link: #009dd9;
    --link-hover: #0086c5;
    --text-muted: #444;
}

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    font-family: system-ui, Geneva, Tahoma, 'Trebuchet MS', Helvetica, Arial, Verdana, sans-serif, serif;
    height: 100%;
}

.content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--content-box-background);
    height: 100%;
}

.main-box{
    width: calc(100% - var(--main-box-padding));
    height: calc(100% - var(--main-box-padding) - 10px);
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    border: var(--border);
    padding: 0;
    background: linear-gradient(to bottom right, #ededed, #c156ff);
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: var(--main-box-padding);
}

.box{
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-decoration: none;
    padding: var(--box-padding);
}

.button{
    appearance: none;

    display: flex;
    justify-content: center;
    width: auto;

    padding-top: var(--button-padding-y);
    padding-bottom: var(--button-padding-y);
    padding-left: var(--button-padding-x);
    padding-right: var(--button-padding-x);

    border-radius: var(--round);
    border: 0;
    transition: 200ms;

    font-size: 15px;
    text-decoration: none;
    color: white;

    background-color: var(--primary);
}

.button:hover{
    background-color: var(--primary-hover);
}

.box-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.box-image{
    --size: 60px;

    fill: #333;
    width: var(--size);
    height: var(--size);
}

h3{
    font-size: 40px;
    font-weight: 300;
    color: var(--text-muted);
    margin: 0;
    padding: 0;
}

.banners{
    display: grid;
    grid-template-columns: 1;
    gap: 12px;
}

.banner{
    display: flex;
    justify-content: space-between;
    background-color: #eaeaea;
    border: var(--border);
    border-radius: var(--round);
    box-shadow: var(--shadow);
    padding: 8px;
    text-decoration: none;
    padding: 10px;
    transition: 150ms;
}

.banner:hover{
    background-color: #ddd;
}

.banner-content{
    display: flex;
    padding: 0;
    align-items: center;
}

.banner-text{
    font-size: 16px;
    margin: 0;
    padding: 10px;
    transition: 150ms;
    color: var(--text-muted);
}

.banner-image{
    height: 41px;
    width: 54px;
    padding: 0;
    margin: 0;
    border-radius: var(--round-sm);
}

.banner-button{

    appearance: none;

    display: flex;
    place-self: center;
    width: fit-content;
    height: fit-content;

    padding-top: var(--button-padding-y);
    padding-bottom: var(--button-padding-y);
    padding-left: var(--button-padding-x);
    padding-right: var(--button-padding-x);
    gap: 4px;

    border-radius: var(--round);
    border: 0;
    transition: 200ms;

    font-size: 15px;
    text-decoration: none;
    color: white;

    background-color: var(--blue);
}

.banner-button:hover{
    background-color: var(--blue-hover);
}

.banner-button-icon{
    --size: 20px;
    
    width: var(--size);
    height: var(--size);
}

@media (prefers-color-scheme: dark) {
    :root{
        --link: #00ddff;
        --link-hover: #00bbdd;
        --border: 1px solid #666;
        --content-box-background: #410066;
    }
    
    .main-box{
        background: linear-gradient(to bottom right, #333, #9300e9);
    }

    .box-image{
        fill: #888;
    }

    h3{
        color: #dedede;
        font-size: 40px;
    }

    .banner{
        background-color: #444;
    }

    .banner:hover{
        background-color: #3c3c3c;
    }

    .banner-text{
        color: #fff;
    }
}

[dir=rtl] .banner{
    padding: 0 0 0 4px;
}

[dir=rtl] .banner-button-icon{
    rotate: 180deg;
}

@media (max-width: 500px) {

    .content-box{
        justify-content: unset;
    }

    .box{
        width: 100%;
        height: 100%;
        padding: 0;
        box-shadow: none;
        border: none;
        border-radius: 0;
    }

    .box-content{
        padding: var(--box-padding-sm) var(--box-padding-sm) 0 var(--box-padding-sm);
    }

    .banners{
        width: calc(100% - var(--main-box-padding));
    }
}